<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="column1">Category</th>
        <th class="column2">Occurences</th>
      </tr>
    </thead>
      <% JSON.parse(document.rid_analysis)["rid_analysis"].each do |elem| %>
        <tr><td class="rid_item column1"><%= elem[0].capitalize %></td><td class="rid_item column2">  <%= elem[1] %></td></tr>
      <% end %>
 </table>



