<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="column1">Word</th>
        <th class="column2">Frequency</th>
      </tr>
    </thead>
      <% JSON.parse(document.word_frequency)["word_frequency"].each do |elem| %>
        <tr><td class="frequency_item column1"><%= elem[0].capitalize %></td><td class="frequency_item column2">  <%= elem[1] %></td></tr>
      <% end %>
 </table>