<div class="span2" id="display">
    <p class="result_display" id="orig_text"><b>Original Text : </b><%= @document.body %></p>
    <p class="result_display" id="word_count"><b>Word Count : </b><%= @document.word_count %></p>
    <p class="result_display" id="word_frequency"><b>Word Frequency : </b><%= @document.word_frequency %></p>
    <p class="result_display" id="rid_analysis"><b>RID Analysis : </b><%= @document.rid_analysis %></p>
</div>
  
