<div class="span1" id="search">
  <%= form_tag('documents', :method => "post", :remote => true) do %>
    <%= text_field_tag "text_body" %>
    <%= submit_tag "Analyze", :class => 'button' %> 
  <% end %>
</div>    
