<div id="resultpage">
  <h1 id="result"> Results</h1>

  <table class="table table-bordered">
    <tr class="white">
      <th class="column1">Original Text</th>
      <td class="column2"><%= @document.body[0..144] %>...</td>
    <tr class="white">
      <th class="column1">Word Count</th>
      <td class="column2"><%= @document.word_count %></td>
    <tr>
  </table>
  
  <h2>Word Frequency </h2>
  <p class="result_display" id="word_frequency">
    <%= render 'wordfrequency', :document => @document%>
  </p>
  <h2>RID Analysis </h2>
  <p class="result_display" id="rid_analysis">
    <%= render 'rid_analysis', :document => @document%>
  </p>
</div>
  
