// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result_display {
  width: 800px;
}

.frequency_item {
  width: 300px;
}

.rid_item {
  width: 400px;
}

.orig_text_item {
  width: 600px;
}