<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textalyze</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= render "layouts/navigation" %>
        </div>
      </div>
    </div>
    <div class="main offset3" role="main">
      <div class="container span8" id="cont">
        <div class="content">
           <div class="row">
            <div class="span8">
              <%= yield %>          
            </div> 
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    
  </body>
</html>